// Colors

$ordina-orange: #f58220;
$ordina-orange-hover: #d06e19;

$black: #000;
$white: #fff;

// $gray-light: #f8f8f8; // same as code highlight
// $gray: #e1e1e1;
// $gray-dark: #b2b2b2;
// $gray-darker: #58595b;
$gray-darkest: #262626;

$discovery-blue-primary: #007f92;
$discovery-blue-2: #3399a8;
$discovery-blue-3: #66b2be;
$discovery-blue-4: #99ccd3;
$discovery-blue-5: #cce5e9;
$discovery-blue-primary-hover: #004853;
$discovery-blue-primary-darker: #006273;
$discovery-blue-4-hover: #7eaaae;

$accelerate-blue-primary: #3da4bf;
$accelerate-blue-2: #64b6cc;
$accelerate-blue-3: #8bc8d9;
$accelerate-blue-4: #b1dbe5;
$accelerate-blue-5: #d8edf2;
$accelerate-blue-3-hover: #6ea3b1;

$transparent: rgba(0, 0, 0, 0);
$transparent-hover: rgba(0, 0, 0, 0.2);

$danger-red: #d50000;
$danger-red-hover: #a90000;

$error-red: #d7263d;
$warning-yellow: #f3e37c;
$success-green: #609d6d;

$warning-yellow-hover: #d3bb00;

// New Design Colors
$gray-lighter: #e1e1e1;
$gray-light: #d7d7d7;
$gray: #797979;
$gray-dark: #4a4a4a;
$gray-darker: #1c1c1c;
$gray-black: #58595b;

// Layout variables
$desktop-max-width: 75em;
$desktop-half-width: 37.5em;
$header-height-small: 82px;
$header-height-large: 304px;
$header-height-mobile: 82px;
$header-transition-time: 0.5s;

// Media query breakpoints
$max-width-large-display: 75em; //1200px
$max-width-small-display: 56.250em; //900px
$max-width-tablet: 47.75em; //764px
$max-width-phone: 26.25em; //420px

// Variables
$header-item-width: 13rem;

$article-card-width: 21.875rem;
$article-card-width-landscape: 18rem;
$article-card-image-height: 13.6875rem;
$article-card-content-height: 10rem;

// Box shadows
$box-shadow-small: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

// Fonts
$default-font-size: 1rem;
$letter-spacing: 0.015rem;
$line-height: 1.7rem;

// Poppins
@font-face {
  font-family: 'Poppins-Thin';
  font-weight: 100;
  font-style: normal;
  src: url('~assets/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-ThinItalic';
  font-weight: 100;
  font-style: italic;
  src: url('~assets/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  font-weight: 200;
  font-style: normal;
  src: url('~assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraLightItalic';
  font-weight: 200;
  font-style: italic;
  src: url('~assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  font-weight: 300;
  font-style: normal;
  src: url('~assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-LightItalic';
  font-weight: 300;
  font-style: italic;
  src: url('~assets/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('~assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Italic';
  font-weight: 400;
  font-style: italic;
  src: url('~assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  font-weight: 500;
  font-style: normal;
  src: url('~assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-MediumItalic';
  font-weight: 500;
  font-style: italic;
  src: url('~assets/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url('~assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  font-weight: 600;
  font-style: italic;
  src: url('~assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('~assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  font-weight: 700;
  font-style: italic;
  src: url('~assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src: url('~assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  font-weight: 800;
  font-style: italic;
  src: url('~assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Poppins-Black';
  font-weight: 900;
  font-style: normal;
  src: url('~assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-BlackItalic';
  font-weight: 900;
  font-style: italic;
  src: url('~assets/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
}
