$ordina-orange: #f58220;

$black: #000;
$white: #fff;

$gray-primary: #58595b;
$gray-secondary: #e1e1e1;

$discovery-blue-primary: #007f92;
$discovery-blue-2: #3399A8;
$discovery-blue-3: #66B2BE;
$discovery-blue-4: #99CCD3;
$discovery-blue-5: #CCE5E9;

$accelerate-blue-primary: #3da4bf;
$accelerate-blue-2: #64B6CC;
$accelerate-blue-3: #8BC8D9;
$accelerate-blue-4: #B1DBE5;
$accelerate-blue-5: #D8EDF2;