$ordina-orange: #f58220;

$black: #000;
$white: #fff;

$gray-primary: #58595b;
$gray-secondary: #e1e1e1;
$gray-tertiary: #b2b2b2;

$discovery-blue-primary: #007f92;
$discovery-blue-2: #3399a8;
$discovery-blue-3: #66b2be;
$discovery-blue-4: #99ccd3;
$discovery-blue-5: #cce5e9;

$accelerate-blue-primary: #3da4bf;
$accelerate-blue-2: #64b6cc;
$accelerate-blue-3: #8bc8d9;
$accelerate-blue-4: #b1dbe5;
$accelerate-blue-5: #d8edf2;
